[toolchain]
anchor_version = "0.31.1"

[features]
seeds = false
skip-lint = false

[programs.localnet]
nft_minting = "9ceJddyiUyjE6cCW9DgBy9QbhAAVqYz86XFXcMJwrU3J"

[programs.devnet]
nft_minting = "9ceJddyiUyjE6cCW9DgBy9QbhAAVqYz86XFXcMJwrU3J"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
